# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.env
.venv/

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# macOS / Linux
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Python cache
# ----------------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------------
# Docker
# ----------------------------
*.tar

# ----------------------------
# Kubernetes
# ----------------------------
*.swp

# ----------------------------
# Misc
# ----------------------------
*.bak
*.tmp
